@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed');

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

body {
  box-sizing: border-box; 
  font-family: 'Open Sans', sans-serif; 
}
img { width: 100%; }
.upper { text-transform: uppercase; }
.capi { text-transform: capitalize; }

a { 
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
}

.container { width: 100%; }

.wrapper {
  max-width: 1400px;
  width: 87.81%;
  margin: 0 auto;
}

header {
  width: 100%;
  position: absolute;
  top:0;
}

h1 {
  width: 19.3%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
}

nav {
  float: right;
  position: relative;
  padding-top: 30px;
}

nav .hamburger {
  font-size: 30px;
}
.menu {
  display: none;
  position: absolute;
  top: 57px;
  right: 39px;
}
.menu li {
  width: 100%;
  padding: 20px;
  background: rgba(0,0,0,0.5);
  list-style-type: none;
  text-align: center;
}

.menu li a {
  color: #fff;
  font-size: 20px;
}

nav:hover .menu{
  display: block;
}

.banner .wrapper { width: 61.33%; }

.banner {
  /*min-height: 550px;*/
  padding: 157px 0 125px;
  color: #fff;
  background: url('../images/balloon-light.jpeg') 50% 40% no-repeat; 
  text-align: center;
}

.banner h2 { font-size: 33px; }

.banner h2::first-letter,
.banner p::first-letter { text-transform: capitalize; }

.banner p {
  padding: 30px 0 62px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18.5px;
}

.banner a {
  padding: 22px 6.1%;
  border-radius: 5px;
  background-color: #508bd4;
  color: #fff;
  font-size: 18px;
}

.resources {
  padding: 82px 0;
  text-align: center;
}

h3 {
  color: #4a494e; 
  font-size: 22px;
}

.resources  p{
  color: #b3b3b5;
  font-size: 18px;
}

.resources  p::first-letter { text-transform: capitalize; }

.resource-slider {
  padding: 71px 0;
  position: relative;
  overflow: hidden;
}
.slider {
  width: calc(100% * 2);
  display: inline-block;
  transition: left 0.8s;
  position: relative;
}

.slider li {
  width: calc(100% /6 - 30px);
  padding-right: 25px;
  display: inline-block;
  vertical-align: top;
}

.slider li img {
  width: 20%;
  padding-bottom: 35px;
}

.slider h4 {
  font-size: 17px;
  font-weight: bold;
}

.slider li:first-child h4 { color: #b9787a; }
.slider li:nth-child(2) h4 { color: #5078a1; }
.slider li:nth-child(3) h4 { color: #76ab9b; }

.slider p {
  font-size: 14px;
  padding: 16px 37px 31px;
}

.slider a {
  width: 83%;
  padding: 20px 0;
  background: #4d85c9;
  border-radius: 5px;
  color: #fff;
}

.left {
  position: absolute;
  top:50%;
  left: 0;
  color: #000;
  font-size: 20px;
  transform: translateY(-50%);
}

.right {
  position: absolute;
  top:50%;
  right: 0;
  color: #000;
  font-size: 20px;
  transform: translateY(-50%);
}

.loan_section {
  background: #f9f8fd;
  text-align: center;
}

.avant-img {
  width: 9%;
  padding: 33px 0;
  margin: 0 auto;
}

.loan_section p {
  padding: 10px 0;
  color: #b1b4bb
}

.loan_section p::first-letter { text-transform: capitalize; }

.loan-boxes li {
  width: calc(100%/3 - 3px);
  display: inline-block;
}

.loan-boxes {
  padding: 65px 0 0
}

.loan-boxes li span {
  color: #5fae98;
  font-size: 35px;
  font-weight: 600;
}

.loan-boxes li h5{
  color: #6d7278;
  font-size: 20px;
}

.load-more {
    padding: 15px 50px;
    margin-top: 55px;
    display: inline-block;
    background: #63b558;
    color: #fff;
    border-radius: 5px;
}

.loan-boxes p {
  font-size: 12px;
}

.loan_section .loan_content {
  font-size: 12px;
  padding: 66px 0 63px;
}

.fico_box {
    padding: 53px 0 35px;
    background:#4c4d6b;
    text-align: center;
}

.fico_img {
  width: 4%;
  margin: 10px auto 0;
}

.fico_box p{
  font-size: 13px;
  color: #9398b5;
}

footer .wrapper {
  width: 100%;
}

footer {
  padding: 10px;
  background-color: #5291de;
}

.copyright {
  float: right;
    color: #fff;
  font-size: 12px;
}

.footer-links,
.footer-links li {
  display: inline-block;
  vertical-align: top;
}

.footer-links li a{
  padding-right: 10px; 
  color: #fff;
  font-size: 12px;
}